<fieldset
  class="bip-radio-group-fieldset"
  [attr.aria-describedby]="hasVisibleMessage() ? errorId : null"
>
  @if (label()) {
    <legend [class]="legendClass()">{{ label() }}</legend>
  }
  <div class="bip-radio-group-items">
    <ng-content />
  </div>
  @if (error() && errorMessage()) {
    <span
      [id]="errorId"
      [class]="'bip-radio-group-message bip-radio-group-message--error ' + helperClass()"
      role="alert"
    >
      {{ errorMessage() }}
    </span>
  } @else if (helperText()) {
    <span
      [id]="errorId"
      [class]="'bip-radio-group-message bip-radio-group-message--helper ' + helperClass()"
    >
      {{ helperText() }}
    </span>
  }
</fieldset>
