<li class="bip-navbar-item-wrapper">
  @if (routerLink()) {
    <a
      class="bip-navbar-item"
      data-navbar-item
      [routerLink]="routerLink()"
      [queryParams]="queryParams()"
      [class.bip-navbar-item--active]="active()"
      [attr.aria-current]="active() ? 'page' : null"
      [attr.aria-label]="ariaLabel()"
      (click)="onClick($event)"
      (keydown)="onKeydown($event)"
    >
      <ng-container [ngTemplateOutlet]="content" />
    </a>
  } @else if (href()) {
    <a
      class="bip-navbar-item"
      data-navbar-item
      [href]="disabled() ? null : href()"
      [class.bip-navbar-item--active]="active()"
      [attr.aria-current]="active() ? 'page' : null"
      [attr.aria-disabled]="disabled() ? 'true' : null"
      [attr.tabindex]="disabled() ? -1 : null"
      [attr.aria-label]="ariaLabel()"
      (click)="onClick($event)"
      (keydown)="onKeydown($event)"
    >
      <ng-container [ngTemplateOutlet]="content" />
    </a>
  } @else {
    <button
      type="button"
      class="bip-navbar-item"
      data-navbar-item
      [disabled]="disabled()"
      [class.bip-navbar-item--active]="active()"
      [attr.aria-current]="active() ? 'page' : null"
      [attr.aria-label]="ariaLabel()"
      (click)="onClick($event)"
      (keydown)="onKeydown($event)"
    >
      <ng-container [ngTemplateOutlet]="content" />
    </button>
  }
</li>

<ng-template #content>
  <ng-content select="[bipNavbarItemIcon]" />
  <ng-content />
</ng-template>
